<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="training.mapper.ContatoMapper">

	<resultMap id="contatoResult" type="training.model.Contato">
		<id property="idContato" column="id_contato" />
		<result property="nome" column="nome" />
        <result property="telefone" column="telefone" />
	</resultMap>

    <select id="listaPorExemplo" resultMap="contatoResult">
        SELECT * FROM contato
        <where>
            <if test="nome != null">
                AND nome LIKE CONCAT('%', #{nome}, '%')
            </if>
            <if test="telefone != null">
                AND telefone = #{telefone}
            </if>
        </where>
        ORDER BY nome
    </select>

	<select id="buscaPorId" resultMap="contatoResult">
 		SELECT * FROM contato WHERE id_contato = #{idContato}
	</select>

    <insert id="insere">
        INSERT INTO contato(nome, telefone)
        VALUES (#{nome}, #{telefone})
    </insert>

    <update id="atualiza">
        UPDATE contato
        SET
            nome = #{nome},
            telefone = #{telefone}
        WHERE id_contato = #{idContato}
    </update>

    <delete id="remove">
        DELETE FROM contato WHERE id_contato = #{idContato}
    </delete>

</mapper>
