<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="training.mapper.ExampleMapper">

	<resultMap id="exampleResult" type="training.model.Example">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>

    <select id="list" resultMap="exampleResult">
        SELECT * FROM example
    </select>

	<select id="find" resultMap="exampleResult">
 		SELECT * FROM example WHERE id = #{id}
	</select>
	
    <insert id="insert">
        INSERT INTO example(id, name)
        VALUES (#{id}, #{name})
    </insert>

    <update id="update">,
        UPDATE example
        SET
            name = #{name}
        WHERE id = #{id}
    </update>
	
    <delete id="delete">
        DELETE FROM example WHERE id = #{id}
    </delete>

</mapper>